<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  colors="true" 
  bootstrap="./bootstrap.php" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnPhpunitDeprecations="true"
>
  <coverage>
    <report>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">../classes</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="BatchDeleteTrait">
      <file>src/BatchDeleteTraitTest.php</file>
    </testsuite>
    <testsuite name="BatchFindTrait">
      <file>src/BatchFindTraitTest.php</file>
    </testsuite>
    <testsuite name="CatalogFilter">
      <file>src/CatalogFilterTest.php</file>
    </testsuite>
    <testsuite name="SberbankCheckPaymentCommand">
      <file>src/commands/SberbankCheckPaymentCommandTest.php</file>
    </testsuite>
    <testsuite name="CSVPriceloaderDataConverter">
      <file>src/CSVPriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="Excel2007PriceloaderDataConverter">
      <file>src/Excel2007PriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="Excel5PriceloaderDataConverter">
      <file>src/Excel5PriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="ExcelPriceloaderDataConverter">
      <file>src/ExcelPriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="EditBlockCartForm">
      <file>src/forms-n-tables/EditBlockCartFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockYMLForm">
      <file>src/forms-n-tables/EditBlockYMLFormTest.php</file>
    </testsuite>
    <testsuite name="EditImageLoaderForm">
      <file>src/forms-n-tables/EditImageLoaderFormTest.php</file>
    </testsuite>
    <testsuite name="EditPriceLoaderForm">
      <file>src/forms-n-tables/EditPriceLoaderFormTest.php</file>
    </testsuite>
    <testsuite name="ViewOrderForm">
      <file>src/forms-n-tables/ViewOrderFormTest.php</file>
    </testsuite>
    <testsuite name="InheritPageTrait">
      <file>src/InheritPageTraitTest.php</file>
    </testsuite>
    <testsuite name="AlfaBankInterface">
      <file>src/interfaces/AlfaBankInterfaceTest.php</file>
    </testsuite>
    <testsuite name="CartInterface">
      <file>src/interfaces/CartInterfaceTest.php</file>
    </testsuite>
    <testsuite name="CatalogInterface">
      <file>src/interfaces/CatalogInterfaceTest.php</file>
    </testsuite>
    <testsuite name="EPayInterface">
      <file>src/interfaces/EPayInterfaceTest.php</file>
    </testsuite>
    <testsuite name="ImageloaderInterface">
      <file>src/interfaces/ImageloaderInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MyOrdersInterface">
      <file>src/interfaces/MyOrdersInterfaceTest.php</file>
    </testsuite>
    <testsuite name="PayKeeperInterface">
      <file>src/interfaces/PayKeeperInterfaceTest.php</file>
    </testsuite>
    <testsuite name="PayMasterInterface">
      <file>src/interfaces/PayMasterInterfaceTest.php</file>
    </testsuite>
    <testsuite name="PriceloaderInterface">
      <file>src/interfaces/PriceloaderInterfaceTest.php</file>
    </testsuite>
    <testsuite name="SberbankAlfaInterface">
      <file>src/interfaces/SberbankInterfaceTest.php</file>
    </testsuite>
    <testsuite name="SberbankInterface">
      <file>src/interfaces/SberbankInterfaceTest.php</file>
    </testsuite>
    <testsuite name="Sync1CInterface">
      <file>src/interfaces/Sync1CInterfaceTest.php</file>
    </testsuite>
    <testsuite name="TochkaInterface">
      <file>src/interfaces/TochkaInterfaceTest.php</file>
    </testsuite>
    <testsuite name="UBRRInterface">
      <file>src/interfaces/UBRRInterfaceTest.php</file>
    </testsuite>
    <testsuite name="YooKassaInterface">
      <file>src/interfaces/YooKassaInterfaceTest.php</file>
    </testsuite>
    <testsuite name="PriceloaderDataConverter">
      <file>src/PriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="Block_Cart">
      <file>src/semantic/BlockCartTest.php</file>
    </testsuite>
    <testsuite name="Block_YML">
      <file>src/semantic/BlockYMLTest.php</file>
    </testsuite>
    <testsuite name="ImageLoader">
      <file>src/semantic/ImageLoaderTest.php</file>
    </testsuite>
    <testsuite name="Order">
      <file>src/semantic/OrderTest.php</file>
    </testsuite>
    <testsuite name="PriceLoader">
      <file>src/semantic/PriceLoaderTest.php</file>
    </testsuite>
    <testsuite name="Updater">
      <file>src/UpdaterTest.php</file>
    </testsuite>
    <testsuite name="XmlDataConverter">
      <file>src/XmlDataConverterTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
