<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="./bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">../classes</directory>
    </include>
    <report>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="CSVPriceloaderDataConverter">
      <file>src/CSVPriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="Excel2007PriceloaderDataConverter">
      <file>src/Excel2007PriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="Excel5PriceloaderDataConverter">
      <file>src/Excel5PriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="ExcelPriceloaderDataConverter">
      <file>src/ExcelPriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="PriceloaderDataConverter">
      <file>src/PriceloaderDataConverterTest.php</file>
    </testsuite>
    <testsuite name="XmlDataConverter">
      <file>src/XmlDataConverterTest.php</file>
    </testsuite>
    <testsuite name="BatchDeleteTrait">
      <file>src/BatchDeleteTraitTest.php</file>
    </testsuite>
    <testsuite name="BatchFindTrait">
      <file>src/BatchFindTraitTest.php</file>
    </testsuite>
    <testsuite name="InheritPageTrait">
      <file>src/InheritPageTraitTest.php</file>
    </testsuite>
    <testsuite name="CatalogFilter">
      <file>src/CatalogFilterTest.php</file>
    </testsuite>
    <testsuite name="Sync1CInterface">
      <file>src/interfaces/Sync1CInterfaceTest.php</file>
    </testsuite>
    <testsuite name="CartInterface">
      <file>src/interfaces/CartInterfaceTest.php</file>
    </testsuite>
    <testsuite name="PriceloaderInterface">
      <file>src/interfaces/PriceloaderInterfaceTest.php</file>
    </testsuite>
    <testsuite name="CatalogInterface">
      <file>src/interfaces/CatalogInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MyOrdersInterface">
      <file>src/interfaces/MyOrdersInterfaceTest.php</file>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
