.cms-block.cms-block_shop-cart { background-color: #fc9; }
.cms-block.cms-block_shop-yml { background-color: white; color: red; }
.cms-block_shop-yml .cms-block__title { color: red; }
.cms-shop-headers-table { 
    width: auto; 
    border: 1px solid silver; 
    counter-reset: cms-shop-headers-table;
}
.cms-shop-headers-table th { 
    border: 1px solid silver; 
    text-align: center;
}
.cms-shop-headers-table .unique { background: #d9edf7; }
.cms-shop-headers-table thead tr:first-child th:after {
    counter-increment: cms-shop-headers-table;
    content: counter(cms-shop-headers-table, upper-alpha)
}
.cms-shop-log-container { max-height: 300px; overflow: auto; }
.cms-shop-table-raw-data td { white-space: pre-wrap; font-size: 10px; padding: 0px 3px; }
.cms-shop-table-raw-data .btn { font-size: 10px; }
.cms-shop-edit-priceloader-columns-table {
    counter-reset: cms-shop-edit-priceloader-columns-table;
}
.cms-shop-edit-priceloader-columns-table thead + tbody tr td:first-child:after {
    counter-increment: cms-shop-edit-priceloader-columns-table;
    content: counter(cms-shop-edit-priceloader-columns-table, upper-alpha)
}